/* add a font  */
@font-face {
    font-family: logofont;
    src: url("/data/font/nahidhklogo.ttf");
}


body{
    margin: 0;
    padding: 0;
    background-color:#000;
    color: lime;
}
.load{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 100;
}
.centerdiv{
    height: auto;
    width: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: logofont;
    font-size: 10rem;
    font-weight: bold;
    color: limegreen;
}
