/* add a font  */
@font-face {
    font-family: logofont;
    src: url("/data/font/nahidhklogo.ttf");
}


body{
    margin: 0;
    padding: 0;
    background-color:#000;
    color: lime;
}
.load{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 100;
}
.centerdiv{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: logofont;
    font-weight: bold;
    color: limegreen;
}
.centerdiv img{
    height: 100%;
    width: 100%;
}
.loader {
    width: 48px;
    height: 48px;
    border: 2px solid lime;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0;
    background: limegreen;
    width: 3px;
    height: 24px;
    transform: translateX(-50%);
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
