/* add a font  */
@font-face {
    font-family: logofont;
    src: url("/data/font/nahidhklogo.ttf");
}

/* hacker font1 */
@font-face {
  font-family: hacker1;
  src: url("/data/font/hacker2.ttf");
}
/*hacker font 2*/
@font-face {
  font-family: hacker2;
  src: url("/data/font/hacker1.otf");
}
/* hi1 */
@font-face {
  font-family: hi1;
  src: url("/data/font/hi1.ttf");
}
/* hi2 */
@font-face {
  font-family: hi2;
  src: url("/data/font/hi2.ttf");
}
body{
    margin: 0;
    padding: 0;
    background-color:#000;
    color: lime;
    font-family: hi1;
}
.load{
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 100;
}
.centerdiv{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: hacker1;
    font-weight: bold;
    color: limegreen;
    
}
.centerdiv img{
    height: 100%;
    width: 100%;
}
.loader {
    width: 48px;
    height: 48px;
    border: 2px solid lime;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0;
    background: limegreen;
    width: 3px;
    height: 24px;
    transform: translateX(-50%);
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
.navio{
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #0B0B0BB8;
  box-shadow: 0 0 3000px 0 #2AA40038;
  z-index: 99;
  backdrop-filter: blur(2px);
}
.title{
  font-size: 3rem;
 position: absolute;
 top: 10px;
 left: 20px;
 font-family: hi1;
 
}

.any{
  animation: nahid 0.01s infinite;
}
@keyframes nahid{
  0%{opacity: 0;}
   10%{opacity: 0;}
   20%{opacity: 1;}

  100%{opacity: 1;}
}


.cursor {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
    border-radius: 50%;
    background: transparent;
    pointer-events: none;
    z-index: 111;
    border: 1px solid lime;
    transition: all 0.2s ease-out;
    animation: moveCursor1 .5s infinite alternate;
}

.expand {
    background: transparent;
    animation: moveCursor2 .5s forwards;
    border: 1px solid #fff;
}

@keyframes moveCursor1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.8);
    }
}

@keyframes moveCursor2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}
.marqueenet{
  border: 0.2px dotted lime;
  font-family: hi1;
  color: limegreen;
 
  font-size: 1rem;
}
.btn{
  height: 40px;
  background-color: #2AA40000;
  color: #41FF00;
  font-family: hi1;
  border: 1px dotted #41FF00;
  cursor: pointer;
  margin: 20px;
}
::selection{
  background-color: #FF0000;
}
table{
  width: 100%;
  border-collapse: collapse;
 
}
table,tr,th,td{
  border: 1px dotted lime;
  text-align: center;
}
.menu-icon{
position: absolute;
top: 20px;
right: 20px;
font-size: 20px;
}
.menu-icon:active{
  color: #fff;
  cursor: pointer;
}
a{
  color: lime;
  text-decoration: none;
  border: 1px dotted lime;
  padding: 10px;
  padding-right: 150px;
  transition: all 1s;
}
a:hover{
  border-radius: 100px;
}
.skill{
  border: 1px dashed #FF8A02;
 height: 40px;
 padding-left: 10px;
  padding-right: 10px;
background-color: #42445A00;
color: lime;
font-family: hi1;
margin: 5px;
}
img{
  width: 50%;
  height: 50%;
}
@media only screen and (max-width: 600px) {
  img{
    height: 100%;
    width: 100%;
  }
}